@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "PoppinsBold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "PublicSans";
  src: url(./assets/fonts/PublicSans-Bold.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf);
}

