.container {
  width: 1152px;
  margin: 117px auto 164px;
}
.titleBlock {
  margin-left: 29px;
}
.FAQBlock {
  width: 1152px;

  margin-top: 93px;
  margin-left: 4px;
}
.stripes {
  display: flex;
  justify-content: center;
}
.stripesImg {
  position: relative;
  left: 240px;
  top: 25px;
}
