.controlBlock {
  width: 1200px;
  height: 570px;
  margin: 136px auto 0px;
  display: flex;
}
.imageBlock {
  background-image: url(./Image/Background.png);
  background-position-x: -90px;
  position: relative;
  left: 38px;
  bottom: 6px;
}
