.container {
  max-width: 1440px;
  margin: 95.5px auto 0px;
}
.titleBlock {
  margin-left: 68px;
}
.commentsBlock {
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
  margin-left: 116px;
  margin-top: 61px;
}
.minimizedCommentsBlock {
  display: flex;
  max-width: 800px;
  overflow-x: auto;
  margin-left: 8px;
  position: relative;
  bottom: 7px;
}
