.container {
  display: flex;
}
.pizza {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  width: fit-content;
  border-radius: 5.4px;
  background-color: #f7edd0;
  color: #daa31a;
  padding: 2px 7px 4px;
  margin-right: 10px;
}
