.textArea {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 27.18px;
  text-align: left;
  width: 1168px;
  height: 301px;
  border: 2px solid #6c5fbc;
  border-radius: 18.12px;
  padding: 22px 35px 22px;
  margin: 51px 0px;
  resize: none;
  background-color: #F9F9F9;
}
.textArea::placeholder {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 27.18px;
  text-align: left;
  color: #b6b6b6;
}
