.comment {
  font-family: Poppins500;
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #030314;
}
.userCardSmall {
  font-family: Poppins500;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.1px;
  text-align: left;
  color: #000000
}
.userCardMiddle {
  font-family: Poppins500;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.1px;
  text-align: left;
  color: #000000
}
