.expanded {
  width: 528px;
  height: 170px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #fff;
  margin-right: 37px;
}
.headerComment {
  width: 444px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin: 38px 42px 6px 41px;
}
.minimized {
  min-width: 528px;
  height: 74px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #fff;
  margin-right: 39px;
  padding-top: 40px;
}
